/.idea/.gitignore
/.idea/data-img-dna-encoding.iml
/*.png
/*.jpg
/jupiter.py
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/*.fasta
/*.txt
