/.idea/.gitignore
/.idea/data-img-dna-encoding.iml
/decoded.png
/dnastruct.jpg
/jupiter.py
/.idea/misc.xml
/.idea/modules.xml
/new.png
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
